// Colors
$black = #000;
$white = #FFF;
$night-blue = #0f1e50;
$afternoon-blue = #4274c4;
$orange = #FFA500;

//Fonts
Heebo = 'heebo', sans-serif;
Montserrat = 'Montserrat', sans-serif;


//BreakPoints
tablet = 768px;
small-desk = 1024px;
medium-desk = 1268px;
large-desk = 1368px;