.mobileMenu {
  display: none;
  background: linear-gradient(to top right, $afternoon-blue, $night-blue);
  transition: all 5s ease-out-in;
  padding: 20px;

  .mobileMenu__list {
    display: block;
    width: 100%;
    padding: 10px 0;
  }
  
  .mobileMenu__item {
    margin: 10px auto;
    text-align: left;
    
    a {
      font-family: 'Montserrat', sans-serif;
      text-decoration: none;
      font-size: 14px;
      color: $white;

      &:focus,
      &:visited {
        color: $white;
      }
    }
  }
  
  .mobileMenu__closeButton{
    @extend .button;
  }

  +above(tablet){
    display: none;
  }
}